<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

<a class="btn btn-danger btn-sm" id="openCreateModal">Create</a>

<table id="bookTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author Name</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<div class="modal fade" id="createBookModal" tabindex="-1" aria-labelledby="createBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBookModalLabel">Create Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContent">
                <!-- Modal içeriği AJAX ile doldurulacak -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateBookModal" tabindex="-1" aria-labelledby="updateBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateBookModalLabel">Update Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentUpdate">
                <!-- Modal içeriği AJAX ile doldurulacak -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#bookTable').DataTable({
                "language": {
                    "url": 'https://cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
                },
                "paging": true,
                "pageLength": 10,
                "lengthMenu": [5, 10, 25, 50, 100],
                "columns": [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "authorName" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<a class="btn btn-danger btn-sm" href="/Books/Delete/${row.id}">Delete</a>
                                     <a class="btn btn-warning btn-sm openUpdateModal" data-id="${row.id}">Update</a>`;
                        }
                    }
                ],
                "ajax": {
                    "url": baseUrl + 'api/Books/GetList',
                    "type": "GET",
                    "headers": {
                        'Authorization': 'Bearer @ViewData["Token"]'
                    },
                    "dataType": "json",
                    "dataSrc": "",
                    "error": function (xhr, status, error) {
                        if (xhr.status === 401) {
                            Swal.fire({
                                title: 'Yetkisiz Erişim!',
                                text: 'Bu işlemi gerçekleştirmek için giriş yapmalısınız.',
                                icon: 'warning',
                                confirmButtonText: 'Anladım'
                            }).then(() => {
                                window.location.href = '/Auth/Login'; // Kullanıcıyı giriş sayfasına yönlendir
                            });
                        } else {
                            Swal.fire({
                                title: 'Hata!',
                                text: 'Bir hata oluştu. Lütfen tekrar deneyin.',
                                icon: 'error',
                                confirmButtonText: 'Tamam'
                            });
                        }
                    }
                },
                "filter": true,
                "dom": 'Bfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
                
            });

            // Tooltip initialization
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('#openCreateModal').click(function () {
                $.get('@Url.Action("Create", "Books")')
                    .done(function (data) {
                        $('#modalContent').html(data);
                        $('#createBookModal').modal('show');
                    })
                    .fail(function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while loading the create book page.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            });

            $(document).on('click', '.openUpdateModal', function () {
                var bookId = $(this).data('id');
                $.get('@Url.Action("Update", "Books")', { id: bookId })
                    .done(function (data) {
                        $('#modalContentUpdate').html(data);
                        $('#updateBookModal').modal('show');
                    })
                    .fail(function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while loading the update book page.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            });
        });
    </script>
}
