@model WebApp.Models.Book.UpdateBookModel

<div class="container">
    <form id="updateBookForm" class="w-50 m-5 p-3 shadow mx-auto">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="Name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="Name" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label for="AuthorId" class="form-label">AuthorId:</label>
            <input type="text" class="form-control" id="AuthorId" asp-for="AuthorId" />
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary w-100" id="updateButton">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(function () {
          
                $('#updateButton').click(function () {
                    var data = {
                        id: $('#Id').val(),
                        name: $('#Name').val(),
                        authorId: $('#AuthorId').val()
                    };

                    $.ajax({
                        url: '@Url.Action("Update", "Books")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (response) {
                            Swal.fire({
                                title: 'Success!',
                                text: 'Book updated successfully!',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("GetList", "Books")';
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred while updating the book.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    });
                });
            });
    </script>
}
