@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> 
<form asp-controller="Auth" asp-action="Logout" method="post" class="form-inline">
    <button type="submit" class="btn btn-link nav-link">Logout</button>
</form>
