@{
    ViewData["Title"] = "Update Password Policy";
}

<h2>Update Password Policy</h2>

<form id="updatePasswordPolicyForm">
    <div>
        <label for="RequireDigit">Require Digit:</label>
        <input type="checkbox" id="RequireDigit" name="RequireDigit" />
    </div>
    <div>
        <label for="RequireLowerCase">Require Lower Case:</label>
        <input type="checkbox" id="RequireLowerCase" name="RequireLowerCase" />
    </div>
    <div>
        <label for="RequireUpperCase">Require Upper Case:</label>
        <input type="checkbox" id="RequireUpperCase" name="RequireUpperCase" />
    </div>
    <div>
        <label for="RequireNonAlphanumeric">Require Non-Alphanumeric:</label>
        <input type="checkbox" id="RequireNonAlphanumeric" name="RequireNonAlphanumeric" />
    </div>
    <div>
        <label for="RequiredLength">Required Length:</label>
        <input type="number" id="RequiredLength" name="RequiredLength" />
    </div>
    <button type="submit">Update</button>
</form>

<div id="responseMessage"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#updatePasswordPolicyForm").submit(function(event) {
                event.preventDefault();

                var formData = {
                    RequireDigit: $("#RequireDigit").is(":checked"),
                    RequireLowerCase: $("#RequireLowerCase").is(":checked"),
                    RequireUpperCase: $("#RequireUpperCase").is(":checked"),
                    RequireNonAlphanumeric: $("#RequireNonAlphanumeric").is(":checked"),
                    RequiredLength: $("#RequiredLength").val()
                };

                $.ajax({
                    url: baseUrl + 'api/Auth/PasswordPolicy', // Web API URL'sini buraya yazın
                    type: 'PUT', // Metodunuzun HTTP metodunu buraya yazın
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        $("#responseMessage").text("Password policy updated successfully!");
                    },
                    error: function(xhr, status, error) {
                        $("#responseMessage").text("Error: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
}

