@model WebApp.Models.Book.CreateBookModel

@{ Layout = "_ModalLayout"; }

<div class="container">
    <form id="createAuthorForm" class="w-50 m-5 p-3 shadow mx-auto" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="Name" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label for="ImageUrl" class="form-label">ImageUrl:</label>
            <input type="file" class="form-control" id="ImageUrl" name="ImageUrl" />
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary w-100" id="saveButton">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(function () {
            $('#saveButton').click(function () {
                var formData = new FormData();
                formData.append('Name', $('#Name').val());
                formData.append('ImageUrl', $('#ImageUrl')[0].files[0]);

                $.ajax({
                    url: baseUrl + 'api/Authors/Add',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer @ViewData["Token"]'
                    },
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Yazar başarıyla eklendi!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("GetList", "Authors")';
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        var errorMessage;
                        if (xhr.status === 401) {
                            errorMessage = 'Yetkilendirme hatası! Lütfen giriş yapın.';
                        } else {
                            errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Yazar eklenirken bir hata oluştu.';
                        }

                        Swal.fire({
                            title: 'Error!',
                            text: errorMessage,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });
    </script>
}
